{% extends '../base/base.html' %}

{% block content %}

<div class="row">
    <!-- left sidebar -->
    {% include './leftsidebar.html' %}

    {% load crispy_forms_tags %}
    <!-- right sidebar -->
    <div class="col-md-9">
        <h3>Add Category</h3>

        <form action="" method="POST" style="width: 350px;">
            {% csrf_token %}
            {{ form | crispy }}

            <button type="submit" class="btn btn-warning">Submit</button>
            <a href="{% url 'categories' %}" class="btn btn-secondary ml-2">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}